$ff-raleway: "Raleway", sans-serif;
$ff-open-sans: "Open Sans", sans-serif;

$clr-dark-blue-1: hsl(219, 30%, 18%);
$clr-dark-blue-2: hsl(217, 28%, 15%);
$clr-dark-blue-3: hsl(218, 28%, 13%);
$clr-dark-blue-4: hsl(216, 53%, 9%);

$clr-purple: hsl(243, 87%, 12%);
$clr-silver: hsl(222, 36%, 91%);
$clr-light-blue: hsl(186, 61%, 72%);
$clr-cyan: hsl(176, 68%, 64%);
$clr-blue: hsl(198, 60%, 50%);
$clr-light-red: hsl(0, 100%, 63%);

$clr-grey: hsl(0, 0%, 75%);
$clr-white: hsl(0, 0%, 100%);
$clr-black: hsl(0, 0%, 0%);

$fw-regular: 400;
$fw-bold: 700;

$root-font-size: 16px;

$screen-size-sm: 576px;
$screen-size-md: 768px;
$screen-size-lg: 992px;
$screen-size-xl: 1200px;
$screen-size-xxl: 1440px;
